<hy-drawer
  id="_drawer"
  class="{% if include.cover %}cover{% endif %}"
  side="left"
  threshold="10"
  noscroll
  {% if include.cover %}opened{% endif %}
>
  <header id="_sidebar" class="sidebar{% if include.invert %} invert{% endif %}" role="banner">
    {% include_cached body/sidebar-bg.html image=include.image color=include.color theme_color=include.theme_color %}
    {% include_cached body/sidebar-sticky.html %}
  </header>
  <div style="text-align: center;">
    <a href="https://hits.seeyoufarm.com">
      <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fwilee25.github.io&count_bg=%23B86691&title_bg=%23863E64&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
    </a>
  </div>
</hy-drawer>
<hr class="sr-only" hidden />
